@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  /* neumorphism shadows */
  --nm: 3px 3px 8px 0 rgba(0, 0, 0, 0.2),
    -4px -4px 8px 0 rgba(255, 255, 255, 0.8);

  --nm-inset: inset 2px 2px 6px 0 rgba(0, 0, 0, 0.2),
    inset -5px -5px 8px 0 rgba(255, 255, 255, 0.8);
  /* neumorphism background color */
  --primary-color: #e6e7ee;
  --secondary-color: #e0e5ec;
  font-family: "Poppins", sans-serif;
}
* {
}
/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
  /* width: 1vw; */
}

/* *::-webkit-scrollbar-track {
  box-shadow: var(--nm-inset);
} */
/* *::-webkit-scrollbar-track {
  background: rgb(208, 255, 0);
  border-radius: 10px;
} */
/* *::-webkit-scrollbar-thumb {
  box-shadow: 3px 3px 8px  rgba(0, 0, 0, 0.2) ,
    -4px -4px 8px rgba(255, 255, 255, 0.8) ;
  background: #e6e7ee;
} */
/* *::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
} */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--secondary-color) inset !important;
  /* -webkit-box-shadow: 0 0 0 30px red inset !important; */
}
/* remove highlight on mobile device */
input,
textarea,
button,
select,
*
 {
  -webkit-tap-highlight-color: transparent;
  outline: none;
}
a:focus,
a:visited,
a:active {
  outline: none;
}

/*
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
/**
  * rotating-dots
  *
  * @author jh3y
*/
@-webkit-keyframes rotating-dots {
  0% {
    -webkit-transform: translate(calc(var(--translate) * 1%), 0)
      rotateY(calc(var(--rotation, 0) * 1deg)) rotate(0deg);
    transform: translate(calc(var(--translate) * 1%), 0)
      rotateY(calc(var(--rotation, 0) * 1deg)) rotate(0deg);
  }
  50%,
  100% {
    -webkit-transform: translate(calc(var(--translate) * 1%), 0)
      rotateY(calc(var(--rotation, 0) * 1deg)) rotate(180deg);
    transform: translate(calc(var(--translate) * 1%), 0)
      rotateY(calc(var(--rotation, 0) * 1deg)) rotate(180deg);
  }
}
@keyframes rotating-dots {
  0% {
    -webkit-transform: translate(calc(var(--translate) * 1%), 0)
      rotateY(calc(var(--rotation, 0) * 1deg)) rotate(0deg);
    transform: translate(calc(var(--translate) * 1%), 0)
      rotateY(calc(var(--rotation, 0) * 1deg)) rotate(0deg);
  }
  50%,
  100% {
    -webkit-transform: translate(calc(var(--translate) * 1%), 0)
      rotateY(calc(var(--rotation, 0) * 1deg)) rotate(180deg);
    transform: translate(calc(var(--translate) * 1%), 0)
      rotateY(calc(var(--rotation, 0) * 1deg)) rotate(180deg);
  }
}

@-webkit-keyframes rotating-dots-flash {
  0%,
  50% {
    visibility: visible;
  }
  50.0001%,
  100% {
    visibility: hidden;
  }
}

@keyframes rotating-dots-flash {
  0%,
  50% {
    visibility: visible;
  }
  50.0001%,
  100% {
    visibility: hidden;
  }
}

.rotating-dots {
  --duration: 1;
  --size: 20;
  height: calc(var(--size) * 1px);
  position: absolute;
  width: calc(var(--size) * 1px);
}
.rotating-dots div {
  -webkit-animation: rotating-dots calc(var(--duration) * 1s)
    calc(var(--delay, 0) * 1s) infinite;
  animation: rotating-dots calc(var(--duration) * 1s) calc(var(--delay, 0) * 1s)
    infinite;
  height: 100%;
  position: absolute;
  -webkit-transform: translate(calc(var(--translate) * 1%), 0);
  transform: translate(calc(var(--translate) * 1%), 0);
  width: 100%;
}
.rotating-dots div:after,
.rotating-dots div:before {
  background: var(--primary);
  border-radius: 100%;
  content: "";
  height: 100%;
  position: absolute;
  width: 100%;
}
.rotating-dots div:after {
  -webkit-animation: rotating-dots-flash calc(var(--duration) * 1s)
    calc(var(--delay, 0) * 1s) infinite steps(2);
  animation: rotating-dots-flash calc(var(--duration) * 1s)
    calc(var(--delay, 0) * 1s) infinite steps(2);
  -webkit-transform: translate(-100%, 0);
  transform: translate(-100%, 0);
}
.rotating-dots div:before {
  -webkit-transform: translate(100%, 0);
  transform: translate(100%, 0);
}
.rotating-dots div:nth-of-type(1) {
  --translate: -100;
}
.rotating-dots div:nth-of-type(2) {
  --delay: calc((var(--duration) / 2) * -1);
  --rotation: 180;
  --translate: 100;
}

.dots-9 {
  width: 15px;
  aspect-ratio: 1;
  position: relative;
  animation: d9-0 1.5s infinite steps(2);
}
.dots-9::before,
.dots-9::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background: #000;
}
.dots-9::before {
  box-shadow: 26px 0;
  transform: translateX(-26px);
  animation: d9-1 0.75s infinite linear alternate;
}
.dots-9::after {
  transform: translateX(13px) rotate(0deg) translateX(13px);
  animation: d9-2 0.75s infinite linear alternate;
}
@keyframes d9-0 {
  0%,
  49.9% {
    transform: scale(1);
  }
  50%,
  100% {
    transform: scale(-1);
  }
}
@keyframes d9-1 {
  100% {
    box-shadow: 52px 0;
  }
}
@keyframes d9-2 {
  100% {
    transform: translateX(13px) rotate(-180deg) translateX(13px);
  }
}

.continuous-7 {
  width: 120px;
  height: 20px;
  -webkit-mask: linear-gradient(90deg, #000 70%, #0000 0) left/20% 100%;
  background: linear-gradient(#000 0 0) left -25% top 0 /20% 100% no-repeat
    #e6ecf0;
  animation: ct7 1s infinite steps(6);
}
@keyframes ct7 {
  100% {
    background-position: right -25% top 0;
  }
}
